/* Mobile */
@media (max-width: 46.1875em){
    #nav {
        display: block;
    }
    #nav >li {
        display:block;
        /* để block như này nó đã ghi đè cái thằng inline-block rồi 
        nên những thằng home nó đã theo hàng dọc  */
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {

        position: initial;
        background-color: #333;  

  }
  #nav .subnav a{
      color: #fff;
      padding: 5px 45px;
  }
  #nav li a{
      padding: 1px 24px;
  }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #header{
        overflow: hidden;
    }
   
    #content .member-img {
        width: 60%;

    }
    .s-full-width,
    .s-col-full{
        width: 100% !important;

    }
    .contact-form{
        margin-top: 32px;
        line-height: 2;
    }
    .s-mt-8{
        margin-top: 8px;
    }

}
/* Tablet && Mobile  */

@media (max-width :63.9375em){
    .btn{
        padding: 15px 16px;
    }
    
    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
        /* cũng cho rộng ta  */
    }
    #footer .socials-list{
        font-size: 45px;

        /* ta sửa cho khoảng cách giữa các icon nó rộng ra và dễ nhìn 
         */
    }
    #footer .socials-list a{
        margin: 0 8px ;
    }
    #footer .copyright a{
        padding: 12px 0 ;
        display: inline-block;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-info{
        line-height: 2;
    } 
    .contact-submit-btn{
        font-size: 18px;
    }
   
}
@media (min-width:46.25em) and (max-width:63.9375em){
      
}