:root{
    --primary-color:#fb5533;
    --white-color :#fff;
    --black-color :#000;
    --text-color:#333;
    --border-color: #dbdbdb;
    --star-gold-color:#fad874;


    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height:46px;
    /* cái sort này để mặc định cái chiều cao  */


}
*{
    box-sizing: inherit;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p{
    font-size: 1rem;
}
/*
Ta phải xóa đi để responsive vì trong grid đã có những thằng này rồi
 .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}
.grid__full-width{
    width: 100%;
} */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* TEST */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(2/12*100%);
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(2/10*100%);

}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(10/12*100%);
}





/* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
    
}
@keyframes growth {
    from{
        transform: scale(var(--growth-from));
        
    }
    to{
        transform: scale(var(--growth-to));
        
    }
    

    
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s ;
    /* thăng animation này là lm cho độ mờ mờ  */
}
 .modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

} 
/* tiếp đến thằng modal body cho nó 1 cái khung ở giữa */
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
    /* thăng animation này là thằng ẩn hiện của đăng nhập đăng kí */
}
/* button style */

.btn{
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    /* vì sao lại để padding bằng 0 là do cái thằng padding mặc định ở web 
     */
    outline: none;
    cursor: pointer;
    color: var(--text-color);

     /* lm cái thằng chữ trở lại */
     display: inline-flex;

     align-items: center;
     justify-content: center;
     line-height: 1.6rem;
     background-color: var(--white-color);



}

 .btn.btn--nomal:hover{
    background-color: rgba(0,0,0,0.05);

} 
.btn.btn--size-s{
    /* thằng size s này nó bao quanh cái icon fb vs cái chữ , ta có thể padding */
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: none;
}
.btn.btn--disabled{
    /* cách lam vô hiệu hóa khi di chuột */
    color: #949494;
    cursor: default ;
    background-color:#c3c3c3 ;
}
/* SELECTION */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    background-color: var(--white-color);
    padding: 0 12px;
    /* cái chỗ padding này là đẩy cái tk chữ cách ra xa 1 tí
    tại vì nó bao quanh 2 cái giá và icon nên padding ở trên thẻ này */
     /* tiếp theo cho cái thằng giá vs icon đẩy xa nhau ra thì sd display flex 
     */
     display: flex;
     align-items: center;
     justify-content: space-between;
     cursor: pointer;


}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    
    position: relative;
    top: 2px;
}
.select-input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    /* bỏ padding left đi  */
    padding: 8px 16px;
    list-style: none;
    /* cho thằng list này display none
     */
     display: none;
     z-index: 1;


}

/* khi hover vào thằng input thì hiện tk list */

.select-input:hover .select-input-list{
    display: block;
}


.select-input__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    /* phai có display:block thì ms padding đc  */
    display: block;
    padding:7px 0 ;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* tiếp lam đến phần hiện  */
/* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}

.pagination-item{
    /* làm khoảng cách giữa các thang 1, 2,3.... */
    margin: 0 12px;

}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover{
    background-color: #ec765f;
}

.pagination-item__link{
    display: block;
    /* thăng block này để nó thể hiện chiều ngang của nó */
    text-decoration: none;
    font-size: 1.6rem;
    color:#555;
    min-width: 40px;
    /* để thằng min-width như thế này để khi kích thước của chữ thì nó cũng tăng lên
     */
    height: 30px;
    text-align: center;
    line-height: 30px;
    /* cái line-height nó căn số ở giữa */
    border-radius: 2px;

    font-weight: 400;


}
.pagination-item__icon{

}





    
